body {
    background-color: aquamarine
}

#primero {
    background-color: black;
    font-size: 10px;
    width: 50vw;
    height: 15rem;
    /* 
        1rem = 16px
        1em = valor por default en el navegador
        vw = el ancho de la vista (ViewPort width)
        vh = el alto de la vista (ViewPort Height)
    */
    border: 20px blue solid
}

#segundo {
    background-color: red;
    width: 200px;
    height: 200px;
    border: 20px green solid
}

#tercero {
    background-color: blue;
    width: 200px;
    height: 200px;
    border: 20px yellow solid
}